/*********** /Colores/ ***********/
$primary:   #17a2b8;
$secondary: #7abd85;
$success:   #58D68D;
$danger:    #E74C3C;
$warning:   #F1C40F;
$info:      #85C1E9;
$ligh:      #ffffff;
$dark:      #000000;
$darkness:  #333333;
$lighness:  #f7f7f7;
$purple:    #aa00ff
