/* /Imports/ */
@import 'variables';
@import "mixin";


/* Listas */
h1{
  color: $primary;
}

ul{
  padding: 0;
  li{
    list-style: none;
    display: inline-block;
  }
}

.list_stats{
  li{
    color: $primary;
    a{
      color: $primary;
    }
    a:hover{
      color: darken($primary, 20%);
      transition-duration: 0.3s;
    }
  }
  li:nth-child(2){
    padding-left: 15px;
  }
}

/* Box */
.box_secondary {
  @include box($lighness, 100%);
  position: relative;
}

.box_primary {
  @include box($ligh, 100%);
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  margin: 0 auto;
  float: none;
  white-space: normal;
}

.box_center{
  margin: 0 auto;
}

.box_stats_user{
  padding: 7px 15px;
  display: inline-block;
  small{
    font-weight: 500;
  }
  span{
    display: block;
    font-size: 23px;
    font-weight: 500;
  }
}

.list_stats_post{
  a:hover{
    color: $primary !important;
  }
}

/* Headers */
.header_text{
  padding: 5% 0;
}

.header_tabs{
  border-bottom: 1px solid darken($lighness, 10%);
}

/* Anclas */
a{
  color: $darkness;
}

a:hover{
  color: $primary;
  text-decoration: none;
}

.display_username{
  display: block;
  font-weight: bold;
  color: $primary;
}

.post_username{
  color: $primary;
}

.post_username:hover{
  color: darken($primary, 20%);
}

.header_feed{
  .header_tabs{
    a{
      padding: 5%-0.5% 0;
    }
    a:nth-child(1){
      margin-right: 15px;
    }
    a:nth-child(2){
      margin-left: 15px;
    }
    a:hover{
      border-bottom: 2px solid $primary;
    }
    .tab_active{
      border-bottom: 2px solid $primary;
      color: $primary;
    }
  }
  .cells_menu{
    padding: 1.6% 0;
    border: 1px solid darken($lighness, 10%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    a{
      padding: 1.5% 2%;
      border: 2px solid transparent;
      font-weight: bold;
    }
    a.active{
      border: 2px solid $primary;
      color: $primary;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
}

.nav_blank{
  padding-top: 56px;
}


/* Botones */
.btn_border_primary{
  @include button($primary);
  margin-right: 5px;
  color: #17a2b8;
}

.btn_border_success{
  @include button($success);
  margin-right: 5px;
  color: $success;
}

.btn_border_muted{
  @include button($darkness);
  margin-right: 5px;
  color: $darkness;
}

.btn_register{
  margin-left: 5px;
}

.btn_user{
  margin-right: 5px;
  @include button($purple);
  color: $purple;
}

.new_post{
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 25px;
  height: 50px;
  width: 50px;
}

/* Text */
.text_post{
  height: 300px;
}

.cortar{
  width: 100%;
  height: 170px;
  white-space: normal;
  overflow: hidden;
  p{
    text-overflow: ellipsis;
  }
}

.span_karma, .my_karma{
  small{
    color: $secondary;
    font-weight: bold;
  }
}

.span_rating, .my_rating{
  small{
    color: $purple;
    font-weight: bold;
  }
}






















/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $purple;
}

.svg-icon circle {
  stroke: $purple;
  stroke-width: 1;
}







