/* /Imports/ */
/*********** /Colores/ ***********/
/* Listas */
h1 {
  color: #17a2b8;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
  display: inline-block;
}

.list_stats li {
  color: #17a2b8;
}
.list_stats li a {
  color: #17a2b8;
}
.list_stats li a:hover {
  color: #0c525d;
  transition-duration: 0.3s;
}
.list_stats li:nth-child(2) {
  padding-left: 15px;
}

/* Box */
.box_secondary {
  border-radius: 3px;
  padding: 20px;
  background-color: #f7f7f7;
  width: 100%;
  position: relative;
}

.box_primary {
  border-radius: 3px;
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  margin: 0 auto;
  float: none;
  white-space: normal;
}

.box_center {
  margin: 0 auto;
}

.box_stats_user {
  padding: 7px 15px;
  display: inline-block;
}
.box_stats_user small {
  font-weight: 500;
}
.box_stats_user span {
  display: block;
  font-size: 23px;
  font-weight: 500;
}

.list_stats_post a:hover {
  color: #17a2b8 !important;
}

/* Headers */
.header_text {
  padding: 1.5em 0;
}

.header_tabs {
  border-bottom: 1px solid #dedede;
}

/* Anclas */
a {
  color: #333333;
}

a:hover {
  color: #17a2b8;
  text-decoration: none;
}

.display_username {
  display: block;
  font-weight: bold;
  color: #17a2b8;
}

.post_username {
  color: #17a2b8;
}

.post_username:hover {
  color: #0c525d;
}

.header_feed .header_tabs a {
  padding: 1.4em 0;
}
.header_feed .header_tabs a:nth-child(1) {
  margin-right: 15px;
}
.header_feed .header_tabs a:nth-child(2) {
  margin-left: 15px;
}
.header_feed .header_tabs a:hover {
  border-bottom: 2px solid #17a2b8;
}
.header_feed .header_tabs .tab_active {
  border-bottom: 2px solid #17a2b8;
  color: #17a2b8;
}
.header_feed .cells_menu {
  padding: 1.6% 0;
  border: 1px solid #dedede;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.header_feed .cells_menu a {
  padding: 1.5% 2%;
  border: 2px solid transparent;
  font-weight: bold;
}
.header_feed .cells_menu a.active {
  border: 2px solid #17a2b8;
  color: #17a2b8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.nav_blank {
  padding-top: 56px;
}

/* Botones */
.btn_border_primary {
  border: 2px solid #17a2b8;
  margin-right: 5px;
  color: #17a2b8;
}

.btn_border_success {
  border: 2px solid #58D68D;
  margin-right: 5px;
  color: #58D68D;
}

.btn_border_muted {
  border: 2px solid #333333;
  margin-right: 5px;
  color: #333333;
}

.btn_register {
  margin-left: 5px;
}

.btn_user {
  margin-right: 5px;
  border: 2px solid #b58ba9;
  color: #b58ba9;
  padding: 10px;
}

.new_post {
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 25px;
  height: 50px;
  width: 50px;
}

/* Text */
.text_post {
  height: 300px;
}

.options_comment a {
  color: #17a2b8;
}

.options_comment a:hover {
  color: #0c525d;
}

.span_karma, .my_karma {
  color: #7abd85;
}
.span_karma small, .my_karma small {
  font-weight: bold;
}

.span_rating, .my_rating {
  color: #b58ba9;
}
.span_rating small, .my_rating small {
  font-weight: bold;
}

/*********** Correcciones **************/
legend.col-form-label.required {
  padding-top: 0;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #b58ba9;
}

.svg-icon circle {
  stroke: #b58ba9;
  stroke-width: 1;
}

/*# sourceMappingURL=app.css.map */
