{% extends 'layout.html.twig' %}

{% block content %}
    <a href="#" class="btn btn-info new_post">
        <i class="fa fa-plus"></i>
    </a>
    <div class="mt-4"></div>
    <div class="container row">
        <section class="col col-md-8">
            <div class="header_text">
                <h4>Todas las categorias</h4>
            </div>
            <div class="header_feed">
                <h6 class="header_text header_tabs">
                    <a href="#" class="tab_active">TOP</a>
                    <a href="#">TODOS LOS POSTS</a>
                </h6>
                <div class="mt-3"></div>
                <span class="cells_menu">
                    <a href="#" class="active">DÍA</a>
                    <a href="#">SEMANA</a>
                    <a href="#">MES</a>
                    <a href="#">AÑO</a>
                </span>

            </div>

        </section>
        <aside class="col">
            <div class="box_secondary">
                Esto es una caja
            </div>
        </aside>
    </div>
    <footer>

    </footer>

{% endblock %}
