{% extends 'layout.html.twig' %}

{% block content %}
    <div class="mt-5"></div>

    <div class="container row">
        <section class="col col-md-8">
            <div class="row">
                {% for user in users %}
                    <div class="col col-md-10 mb-3">

                        <div class="row">
                            <div class="col col-md-1 mr-2">
                                <a href="#" class="btn btn-light btn-lg btn_user">
                                    <i class="fa fa-chess-knight"></i>
                                </a>
                            </div>
                            <div class="col row">
                                <div class="col col-md-12">
                                    <a href="#" class="post_username text-muted">{{ user.name }} {{ user.lastname }}</a>
                                    <a href="#" class="post_username"><small>@{{ user.username }}</small></a>
                                </div>
                                <div class="col col-md-12">
                                    <small class="text-muted">Usuario nivel: 5</small>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col col-md-2">
                        {% if app.user != user %}
                            <a href="#" class="btn btn-light btn_border_success btn-sm">Seguir</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
        <aside class="col">
            <div class="box_secondary">
                <h6>
                    <small class="font-weight-bold">Entradas relacionadas</small>
                </h6>
                <div class="dropdown-divider"></div>

            </div>
        </aside>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
